    <h1>
        QUÊN MẬT KHẨU?
    </h1>
    <p>Mời bạn nhập email để khôi phục tài khoản</p>
    <form action="/forget_password" method="POST">
        <label for="test">Email: </label>
        <input type="text" name="email">
        <br>
        <button type="submit"> Gửi</button>
    </form>