    <form action="/reset_password?id={{id}}" method="POST">
        <label for="text">Password</label>
        <input type="password" name="password">

        <br>

        <label for="text">Confirm password</label>
        <input type="password" name="password2">

        <br>
        <button type="submit">Submit</button>
    </form>