    <form action="/update_password" method="POST">
        <label for="text">Old password</label>
        <input type="password" name="password">

        <br>

        <label for="text">New password</label>
        <input type="password" name="newPassword">

        <br>
        <label for="text">Confirm password</label>
        <input type="password" name="confirmPassword">

        <br>
        <button type="submit">Submit</button>
    </form>